#background {
    background-color: #DC9849
}


.admin-login-container {
    display: flex;
    flex-direction: column; /* To stack items vertically */
    justify-content: center; /* To center items vertically */
    align-items: center; /* To center items horizontally */
    background-color: #404756;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}


img {
    left: 25%; 
    top: 10%;
    height: 10%;
}