.scholarship-grid-left {
    text-align: left;
    vertical-align: middle;
    padding: 0px;
    padding-left: 10px;
    box-shadow: unset;
}

.scholarship-grid {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    box-shadow: unset;
}

.scholarship-grid-display-none {
    display: none;
}

@media (min-width: 768px) {

    .scholarship-grid-display-none {
        display: inline;
    }

}