.program-card {
    width: 90%;
    margin: auto;
    list-style-type: none;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 30% 30% 30%;  
    justify-content: center;   
    align-items: center;
    font-family: 'Montserrat', Arial, sans-serif; 
    background-color: white;
    color: black;
    border-radius: 0px;
    font-size: 0.8rem;    
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(133, 74, 177,0.4);
}

.program-card:hover {
    background-color: rgb(220, 152, 73, 0.1);
}

.program-card-header {
    border-bottom-style: solid;
    border-width: 1px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--orange);
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 30% 30% 30%;  
    width: 90%;
    margin: auto;
    justify-content: center;
    font-family: 0.7rem;
    align-items: center;
}

/* .program-list-header {
    color: #894AB1;

} */

.program-legend {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    display: flex;
    width: 75%;
    margin: auto;
}

.program-legend-icon svg {
    font-size: 0.8rem;
    vertical-align: middle;
}

.program-card-grid-none {
    display:none;
}

.display-none {
    display: none;
}

.program-card-sort h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: var(--orange);
    color: white;
    font-size: 0.9rem;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}

.program-card-sort-left h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: var(--orange);
    color: white;
    font-size: 0.9rem;
    justify-content: left;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}

.program-card-sort-none h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
    /* background-color: rgb(133, 74, 177,0.8); */
    color: white;
    font-size: 0.9rem;
    padding-top: 4px;
    padding-bottom: 3px;
}

.program-card-link {
    color: var(--purple);
}

.program-card-link:hover {
    color: var(--orange);
}


/* .program-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    background-color: white;
    box-shadow: none;
} */


.program-icons-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    /* background-color: white; */
    color: white;
    font-weight: bold;
    box-shadow: none;
    vertical-align: center;
}

.program-card-sort-btn {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    width: 100%;
    /* background-color: white; */
    white-space: nowrap;
}

.program-card-sort-btn:hover {
    cursor: pointer;
    background-color: rgb(133, 74, 177,0.5);
    height: 100%;
}

.program-card-item {
    width: 100%;
    margin: auto;
    /* border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(133, 74, 177,0.4); */
}

.program-card img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 0px;
    margin: auto;
    padding-top: 6px;
    border-radius: 4px;
}

.program-card h3 {
    font-size: 0.9rem;
    /* margin: auto; */
    width: 90%;
    padding-bottom: 8px;
    
}

.program-icons-edit {
    height: 20px;
    vertical-align: middle;
    color: var(--purple);
    /* padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px; */
    /* color: #997650; */
}

.program-icons-edit:hover {
    color: var(--orange);
}

.small-icons:hover {
    color: grey;
    transition: 0.5s ease-in-out;
}

@media (min-width: 768px) {
    .program-card {
        width: 80%;
        margin: auto;
        list-style-type: none;
        display: grid;
        grid-template-columns: 22% 12% 18% 18% 20% 4%;     
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', Arial, sans-serif; 
        /* background-color: white; */
        color: black;
        border-radius: 0px;
        font-size: 0.8rem;
    }

    .program-card-header {
        grid-template-columns: 22% 12% 18% 18% 20% 4%;   
        width: 80%;
    }

    .program-card-grid-none {
        display:inline;
        text-align: center;
    }

    .program-legend {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 0.9rem;
        font-weight: bold;
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .program-legend-icon {
        align-items: center;
        vertical-align: middle;
    }
}