.program-card {
    width: 80%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 15%;     
    font-family: 'Montserrat', Arial, sans-serif; 
    background-color: white;
    color: black;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 0.8rem;
}

.program-card-header {
    border-bottom-style: solid;
    border-width: 1px;
}

.program-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6px;
    background-color: white;
    box-shadow: none;
}

.program-card a {
    text-decoration: none;
    color: var(--offset-text);
    display: inline;
}

.program-card a:hover {
    text-decoration: none;
    background-color: var(--background-color-offset);
    color: var(--main-button-hover);
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.program-card img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 0px;
    margin: auto;
    padding-top: 6px;
    border-radius: 4px;
}

.program-card h3 {
    font-size: 0.9rem;
    margin: auto;
    width: 90%;
    padding-bottom: 8px;
    
}

.small-icons {
    height: 20px;
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #997650;
}

.small-icons:hover {
    color: grey;
    transition: 0.5s ease-in-out;
}