
.heroheader {
    width: 100%;
    margin-top: -150px;
  
    /* Other styles for text or content within the header */
  }
  
  /* Other styles for text or content within the header *//* .heroheader {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    flex-grow: 3;
}

.HomeIcon {
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    height: 130px;
    position: fixed;
    padding: 22px;
}

.adminhero {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    padding: 24px;
}

.headerlogo {
    display: center;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

.heroheader h1 {
    color: var(--purple);
    text-transform: uppercase;
    font-size: 1em;
    padding: 40px;
    width: 50%;
}

.heroheader span {
    color: var(--orange);
    font-size: 2em;

}

.heroheader img {
    width: 30%;
    margin-top: -400px;
    margin-right: -200px;
    transform: scaleX(-1);

} */