#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #854AB1, #DC9849);
    color: white;
    font-weight: 500;
    font-size: 1em;
}

#footer img {
    width: 15%;
}