
/* .programs {
    display: grid;
    place-items: center; /* This centers both horizontally and vertically */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    border-radius: 25px;
    padding: 0 4px;
}
    
.programs img {
    border-radius: 25px;
} */ 

#open-programs{
    /* background-color:#854AB1; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 40px;
}
#open-programs-list{
    align-items: center;
    justify-content: center;
}

#openprograms-title {
    font-size: 2em;
    justify-content: center;
    padding: 36px 80px;
    text-align: center;
}

#openprograms-title span {
    color: var(--orange);
}
