
/* .programs {
    display: grid;
    place-items: center; /* This centers both horizontally and vertically */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    border-radius: 25px;
    padding: 0 4px;
}
    
.programs img {
    border-radius: 25px;
} */ 

#open-programs{
    display: grid;
    /* grid-template-columns: 60% 40%; Left column takes 60%, right column takes 40% */

    grid-template-columns: repeat(2, 1fr); /* Divide the container into 4 equal columns */
    grid-template-rows: repeat(3, 1fr);    /* 2 equal rows */
    gap: 32px; /* Combine column-gap and row-gap into gap property */
    padding: 20px;
    justify-content: space-between; /* Distribute columns evenly horizontally */
    align-content: start; /* Align content to the top of the grid */
    margin-right: 400px;
}
#open-programs-list{
    align-items: center;
    justify-content: center;
}

#openprograms-title {
    font-size: 16px;
    justify-content: center;
    padding: 0px 0px;
    text-align: center;
}

#openprograms-title span {
    color: var(--orange);
}
#openprograms-title h2 {
    font-size: 1em;
    margin: 20px;
}


#quote {
    width: 20%;
    margin-top: -1000px;
    margin-right: -1000px ;
    /* Add any other styles you need for the image here */
  }
  