/* 
#admin-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.programs {
    max-width: 200px;
    max-height: 200px;
}

.scholarships {
    max-width: 100px;
    max-height: 100px;
}

.applicants {
    max-width: 100px;
    max-height: 100px;
}

.createAdmin {
    max-width: 100px;
    max-height: 100px;
}

.UpdatedCartoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
} 
*/

/* .adminhome {
    background-color: #DC9849;
} */

/* 
body{
    background-color:rgba(173, 216, 230, 0.5);
    Change the color values and alpha (0.5 for 50% transparency) as needed
}
*/

.program-list-header {
    font-size: 40px;
    color: var(--orange);
    margin: 40px;
}

.admin-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    /* margin: 80px; */
    padding: 40px;
}

/* Styles for icons */
.programs,
.scholarships,
.applicants,
.createAdmin {
    max-width: 100px;
    max-height: 100px;
}

.homeCartoon {
    display: block;
    margin: 0 auto;
    width: 90%;
}

/* Styles for program buttons */
.program-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.program-button {
    display: inline-block;
    padding: 20px 20px;
    background-color: var(--orange);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 8px;
    font-size: 16px;
}

.program-button:hover {
    background-color: var(--gold);
}
