
#admin-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

#background {
        background-color: #DC9849
    }

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px; /* Set the desired height for the image container */
    }
    
     img {
        max-width: 10%; /* Ensure the image does not exceed its container */
        max-height: 10%; 
    }
    
