.applicant-detail {
    display: grid;
    grid-template-columns: 30% 30% 30%;  
    margin: auto;
    width: 90%;
}

.program-detail-section {
    display: grid;
    grid-template-columns: 30% 70%;  
    margin: auto;
    width: 90%;
}

.no-data {
    text-align: center;
    width: 100%;
    
}

.scholarship-create-section {
    
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.scholarship-add-btn {
    margin: auto;
    width:30%;
    /* align-items: center; */
    justify-content: center;
}