.UpdatedCartoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}




/* .applyBox p {
    font-size: 30px;
    /* color: white; 
} 
*/


/* .homepage-container {
    background-color: #854AB1;
} */

