.UpdatedCartoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#open-programs {
    background-color: #854AB1;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
}