.homeCartoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300%;
}

.hompage-container {
    display: flex;
    justify-content: center;
}

/* HomePage.css */
.program-list-container {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

/* Add other styling as needed */
