.header {
    font-size: 40px; /* Adjust the font size as needed */
    margin-top: 20px; /* Add margin to the bottom of the heading */
    margin-bottom: 40px;
}

.subheader {
    font-size: 16px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add more margin to the bottom of the paragraph */
    text-align: center;
    margin-bottom: 40px;
}