.program-icons-close {
    /* display: flex;
    align-items: center;
     */
    height: 20px;
    color: #A59788;
    /* box-shadow: none; */
}

.program-icons-open {
    height: 20px;
    color: #894AB1;
}

.program-icons-future {
    height: 20px;
    color: #DC9849;
}
